.skeleton-loading {
    margin: 10px;
    height: 30px;
    display: block;
    background: linear-gradient(	  
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.411) ,
        rgba(255, 255, 255, 0) 
      ),
      rgb(186, 185, 185);
    background-repeat: no-repeat;
    background-size: 80px;
    animation: skleton 1.5s infinite;	  
  }
  @keyframes skleton {	
    to {
      background-position: 100%;
    }
  }